<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="E" class="com.honhon.web.frame.spring.proxy.ioc.England" />

    <bean id="S" class="com.honhon.web.frame.spring.proxy.ioc.Spain" />

    <bean id="P" class="com.honhon.web.frame.spring.proxy.ioc.Portugal" />

    <!-- 启用 aspectj方式配置 aop-->
    <aop:aspectj-autoproxy />

    <bean id="customerBo" class="com.honhon.web.frame.spring.proxy.aspectJ.impl.CustomerBoImpl" />

    <!-- Aspect -->
    <bean id="logAspect" class="com.honhon.web.frame.spring.proxy.aspectJ.LoggingAspect" />

    <aop:config>
        <aop:aspect id="myAspect" ref="user">

        </aop:aspect>
    </aop:config>


    <bean id="user" class="com.honhon.web.bean.User">
        <property name="id" value="1"/>
        <property name="name" value="dong"/>
        <property name="sex" value="1"/>
    </bean>

    <aop:config>
        <aop:aspect id="log" ref="logging">
            <aop:pointcut id="selectAll"
                          expression="execution(* com.honhon.*.*(..))"/>
            <aop:before pointcut-ref="selectAll" method="beforeAdvice"/>
            <aop:after pointcut-ref="selectAll" method="afterAdvice"/>
            <aop:after-returning pointcut-ref="selectAll"
                                 returning="retVal"
                                 method="afterReturningAdvice"/>
            <aop:after-throwing pointcut-ref="selectAll"
                                throwing="ex"
                                method="AfterThrowingAdvice"/>
        </aop:aspect>
    </aop:config>

    <!-- Definition for student bean -->
    <bean id="student" class="com.honhon.web.bean.Student">
        <property name="name"  value="Zara" />
        <property name="age"  value="11"/>
    </bean>

    <!-- Definition for logging aspect -->
    <bean id="logging" class="com.honhon.web.frame.spring.proxy.Logging"/>
</beans>